# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [38]:
# import pandas library
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [ ]:
# Load XLS file (from local filesystem)
df = pd.read_excel('../datasets/sample_superstore.xls', sheet_name=1)

In [40]:
#URL del archivo en GitHub
url = "https://raw.githubusercontent.com/bigdatawirtz/sistemas-bigdata-2024/refs/heads/main/datasets/sample_superstore.xls"
df2 = pd.read_excel(url, sheet_name=1)

In [41]:
# show DataFrame
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [42]:
df2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [43]:
# Show the 3 first rows
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [44]:
# Show 5 random rows
df.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9166,9167,CA-2016-100300,2016-06-24,2016-06-26,Second Class,MJ-17740,Max Jones,Consumer,United States,San Diego,...,92037,West,OFF-PA-10000418,Office Supplies,Paper,Xerox 189,104.850,1,0.0,50.3280
4364,4365,CA-2017-111332,2017-05-20,2017-05-22,Second Class,NC-18340,Nat Carroll,Consumer,United States,Fargo,...,58103,Central,OFF-ST-10003816,Office Supplies,Storage,Fellowes High-Stak Drawer Files,704.760,4,0.0,162.0948
1437,1438,CA-2015-139731,2015-10-15,2015-10-15,Same Day,JE-15745,Joel Eaton,Consumer,United States,Amarillo,...,79109,Central,TEC-AC-10004975,Technology,Accessories,Plantronics Audio 995 Wireless Stereo Headset,263.880,3,0.2,42.8805
7724,7725,CA-2016-113978,2016-09-25,2016-09-29,Standard Class,TS-21505,Tony Sayre,Consumer,United States,Cleveland,...,44105,East,OFF-AP-10003849,Office Supplies,Appliances,Hoover Shoulder Vac Commercial Portable Vacuum,286.256,1,0.2,17.8910
8532,8533,CA-2016-156748,2016-11-30,2016-12-06,Standard Class,BS-11755,Bruce Stewart,Consumer,United States,Detroit,...,48227,Central,OFF-ST-10001370,Office Supplies,Storage,Sensible Storage WireTech Storage Systems,496.860,7,0.0,24.8430

In [45]:
# From the last 10 rows, show the 5 first ones
df.tail(10).head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.50,10,0.0,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.60,4,0.0,16.1240
9986,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.24,1,0.0,15.2208
9987,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.99,1,0.0,28.7964
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.10,5,0.0,55.6470

In [46]:
# Show 3 random rows from the first 50 ones
df.head(50).sample(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
19,20,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.480,3,0.2,16.011
20,21,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.720,4,0.2,7.384
15,16,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.544,3,0.8,-3.816

In [47]:
# Show info about column data types
df.info

<bound method DataFrame.info of       Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]>

In [48]:
# Show the next info
#
# zip code type: 
#
# Discount type: 
#
# Country data type: 
print(type(df['Postal Code']))
print(type(df['Discount']))
print(type(df['Country']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [49]:
# Show column names
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [50]:
# Select and show 5 different random cities
df['City'].sample(5)

8613         Oakland
2741          Newark
2410    Philadelphia
5912       Owensboro
904      Los Angeles
Name: City, dtype: object

In [51]:
# Show the different countries that appear in the data
df['Country']

0       United States
1       United States
2       United States
3       United States
4       United States
            ...
9989    United States
9990    United States
9991    United States
9992    United States
9993    United States
Name: Country, Length: 9994, dtype: object

In [52]:
# Show the different categories
df['Category']

0             Furniture
1             Furniture
2       Office Supplies
3             Furniture
4       Office Supplies
             ...
9989          Furniture
9990          Furniture
9991         Technology
9992    Office Supplies
9993    Office Supplies
Name: Category, Length: 9994, dtype: object

In [55]:
# Select client id, name and city
df[['Customer ID','Customer Name','City']]

     Customer ID     Customer Name             City
0       CG-12520       Claire Gute        Henderson
1       CG-12520       Claire Gute        Henderson
2       DV-13045   Darrin Van Huff      Los Angeles
3       SO-20335    Sean O'Donnell  Fort Lauderdale
4       SO-20335    Sean O'Donnell  Fort Lauderdale
...          ...               ...              ...
9989    TB-21400  Tom Boeckenhauer            Miami
9990    DB-13060       Dave Brooks       Costa Mesa
9991    DB-13060       Dave Brooks       Costa Mesa
9992    DB-13060       Dave Brooks       Costa Mesa
9993    CC-12220      Chris Cortes      Westminster

[9994 rows x 3 columns]

In [56]:
# Select Order ID (as Dataframe)
df[['Order ID']]

            Order ID
0     CA-2016-152156
1     CA-2016-152156
2     CA-2016-138688
3     US-2015-108966
4     US-2015-108966
...              ...
9989  CA-2014-110422
9990  CA-2017-121258
9991  CA-2017-121258
9992  CA-2017-121258
9993  CA-2017-119914

[9994 rows x 1 columns]

In [58]:
# Count elements in Series "Region"
print(df['Region'].count())

9994

In [59]:
# Show elementes from "Region" Series
df['Region']

0       South
1       South
2        West
3       South
4       South
        ...
9989    South
9990     West
9991     West
9992     West
9993     West
Name: Region, Length: 9994, dtype: object

In [60]:
# Count different elements in Series "Region"
df['Region'].value_counts()

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [ ]:
# Create a Series with quantities in each order line and show the result
quantities = df['Quantity']

print(quantities.head())

0    2
1    3
2    2
3    5
4    2
Name: Quantity, dtype: int64

In [62]:
# Show the lines with quantities greater than 2
df[df['Quantity']>2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5000,10,0.00,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.6000,4,0.00,16.1240
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1000,5,0.00,55.6470
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200

In [63]:
# Show only the DataFrame lines with subcategory  "Tables"
df[df['Sub-Category'] == 'Tables']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
10,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
24,25,CA-2015-106320,2015-09-25,2015-09-30,Standard Class,EB-13870,Emily Burns,Consumer,United States,Orem,...,84057,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,0.00,240.2649
117,118,CA-2015-110457,2015-03-02,2015-03-06,Standard Class,DK-13090,Dave Kipp,Consumer,United States,Seattle,...,98103,West,FUR-TA-10001768,Furniture,Tables,Hon Racetrack Conference Tables,787.5300,3,0.00,165.3813
125,126,US-2014-134614,2014-09-20,2014-09-25,Standard Class,PF-19165,Philip Fox,Consumer,United States,Bloomington,...,61701,Central,FUR-TA-10004534,Furniture,Tables,Bevis 44 x 96 Conference Tables,617.7000,6,0.50,-407.6820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9857,9858,CA-2015-164301,2015-03-26,2015-03-30,Standard Class,EB-13840,Ellis Ballard,Corporate,United States,Seattle,...,98103,West,FUR-TA-10001889,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,3393.6800,8,0.00,610.8624
9899,9900,US-2014-117380,2014-03-28,2014-04-03,Standard Class,MP-18175,Mike Pelletier,Home Office,United States,Springfield,...,45503,East,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,330.5880,1,0.40,-143.2548
9937,9938,CA-2016-164889,2016-06-03,2016-06-06,Second Class,CP-12340,Christine Phan,Corporate,United States,Los Angeles,...,90049,West,FUR-TA-10001676,Furniture,Tables,Hon 61000 Series Interactive Training Tables,71.0880,2,0.20,-1.7772
9955,9956,CA-2015-141593,2015-12-14,2015-12-16,Second Class,DB-12970,Darren Budd,Corporate,United States,Los Angeles,...,90045,West,FUR-TA-10002622,Furniture,Tables,"Bush Andora Conference Table, Maple/Graphite G...",273.5680,2,0.20,10.2588
9980,9981,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.9800,1,0.00,22.3548

In [71]:
# Show the cities with orders including "Tables"
tables = df[df['Sub-Category'] == 'Tables']
tables['City'].unique()

array(['Fort Lauderdale', 'Los Angeles', 'Orem', 'Seattle', 'Bloomington',
       'Denver', 'Detroit', 'Tampa', 'Chicago', 'San Francisco',
       'Franklin', 'Pembroke Pines', 'Akron', 'Phoenix', 'Memphis',
       'Arlington', 'Long Beach', 'Oceanside', 'San Diego',
       'Jacksonville', 'Edmonds', 'San Antonio', 'Torrance', 'Mesa',
       'Philadelphia', 'New York City', 'Saint Peters', 'Yonkers',
       'Springfield', 'Harrisonburg', 'Fresno', 'Provo', 'Aurora',
       'Columbus', 'Vineland', 'North Las Vegas', 'Dublin', 'Muskogee',
       'Spokane', 'Fairfield', 'Miami', 'Pomona', 'Wilmington',
       'Rochester', 'Southaven', 'Louisville', 'Passaic', 'Houston',
       'Bellingham', 'Wheeling', 'Milwaukee', 'Encinitas', 'Allen',
       'Pasadena', 'Oakland', 'Quincy', 'Bristol', 'Charlotte',
       'Lancaster', 'Dallas', 'Jackson', 'Greensboro', 'Mobile', 'Boise',
       'Cranston', 'Redmond', 'Henderson', 'Mentor', 'Lawton',
       'Providence', 'Colorado Springs', 'Burlington', 'Medina',
       'Knoxville', 'Tucson', 'Chesapeake', 'Salem', 'Marion',
       'Buffalo Grove', 'Richmond', 'Conway', 'Anaheim', 'Decatur',
       'Tulsa', 'Minneapolis', 'Lakewood', 'Plano', 'Lawrence',
       'Texas City', 'Lorain', 'Gilbert', 'Virginia Beach', 'Montgomery',
       'Santa Ana', 'Concord', 'Des Plaines', 'Toledo', 'Dover',
       'Newport News', 'Everett', 'Suffolk', 'Clinton', 'Des Moines',
       'Pharr', 'Morgan Hill', 'Chico', 'Lakeland', 'Baltimore',
       'Daytona Beach', 'Bakersfield', 'El Paso', 'Noblesville',
       'Mansfield', 'Nashville', 'Twin Falls', 'Rockford', 'Huntsville',
       'Columbia', 'Chandler', 'Lafayette', 'Troy', 'Broken Arrow'],
      dtype=object)

In [74]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.
tables_orders = tables['City'].sample(5)
print(type(tables_orders))
print(tables_orders)

<class 'pandas.core.series.Series'>
1516    North Las Vegas
7844              Pharr
5629       Philadelphia
2413        Los Angeles
9980          Lafayette
Name: City, dtype: object

In [75]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.
Chairs = df[df['Sub-Category'] == 'Chairs']
Chairs_orders = Chairs[['City']].tail(3)
print(type(Chairs_orders))
print(Chairs_orders)

<class 'pandas.core.frame.DataFrame'>
               City
9912  Santa Barbara
9919          Bryan
9947   Indianapolis

In [76]:
# Show all the order lines including Phones to 'Los Angeles'
df[(df['Sub-Category' == 'Phones']) & (df['City'] == 'Los Angeles')]

KeyError: False

In [78]:
# Show 10 random order lines with Phones or Tables
df[(df['Sub-Category' == 'Phones']) & (df['Sub-Category' == 'Tables'])]

KeyError: False

In [82]:
# Select the second row of the dataframe
df.iloc[1]

Row ID                                                           2
Order ID                                            CA-2016-152156
Order Date                                     2016-11-08 00:00:00
Ship Date                                      2016-11-11 00:00:00
Ship Mode                                             Second Class
Customer ID                                               CG-12520
Customer Name                                          Claire Gute
Segment                                                   Consumer
Country                                              United States
City                                                     Henderson
State                                                     Kentucky
Postal Code                                                  42420
Region                                                       South
Product ID                                         FUR-CH-10000454
Category                                                 Furniture
Sub-Category                                                Chairs
Product Name     Hon Deluxe Fabric Upholstered Stacking Chairs,...
Sales                                                       731.94
Quantity                                                         3
Discount                                                       0.0
Profit                                                     219.582
Name: 1, dtype: object

In [85]:
# Select the third, seventh and 24 row of the dataset
print(df.iloc[2])
print(df.iloc[6])
print(df.iloc[23])

Row ID                                                           3
Order ID                                            CA-2016-138688
Order Date                                     2016-06-12 00:00:00
Ship Date                                      2016-06-16 00:00:00
Ship Mode                                             Second Class
Customer ID                                               DV-13045
Customer Name                                      Darrin Van Huff
Segment                                                  Corporate
Country                                              United States
City                                                   Los Angeles
State                                                   California
Postal Code                                                  90036
Region                                                        West
Product ID                                         OFF-LA-10000240
Category                                           Office Supplies
Sub-Category                                                Labels
Product Name     Self-Adhesive Address Labels for Typewriters b...
Sales                                                        14.62
Quantity                                                         2
Discount                                                       0.0
Profit                                                      6.8714
Name: 2, dtype: object
Row ID                             7
Order ID              CA-2014-115812
Order Date       2014-06-09 00:00:00
Ship Date        2014-06-14 00:00:00
Ship Mode             Standard Class
Customer ID                 BH-11710
Customer Name        Brosina Hoffman
Segment                     Consumer
Country                United States
City                     Los Angeles
State                     California
Postal Code                    90032
Region                          West
Product ID           OFF-AR-10002833
Category             Office Supplies
Sub-Category                     Art
Product Name              Newell 322
Sales                           7.28
Quantity                           4
Discount                         0.0
Profit                        1.9656
Name: 6, dtype: object
Row ID                                           24
Order ID                             US-2017-156909
Order Date                      2017-07-16 00:00:00
Ship Date                       2017-07-18 00:00:00
Ship Mode                              Second Class
Customer ID                                SF-20065
Customer Name                       Sandra Flanagan
Segment                                    Consumer
Country                               United States
City                                   Philadelphia
State                                  Pennsylvania
Postal Code                                   19140
Region                                         East
Product ID                          FUR-CH-10002774
Category                                  Furniture
Sub-Category                                 Chairs
Product Name     Global Deluxe Stacking Chair, Gray
Sales                                        71.372
Quantity                                          2
Discount                                        0.3
Profit                                      -1.0196
Name: 23, dtype: object

In [89]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region
# Filtrar las filas donde la región es "West"
sales = df[df['Region'] == 'West'][['Customer Name', 'City', 'Product Name', 'Quantity']]

# Mostrar el nuevo DataFrame
print(sales.head())

     Customer Name         City  \
2  Darrin Van Huff  Los Angeles
5  Brosina Hoffman  Los Angeles
6  Brosina Hoffman  Los Angeles
7  Brosina Hoffman  Los Angeles
8  Brosina Hoffman  Los Angeles

                                        Product Name  Quantity
2  Self-Adhesive Address Labels for Typewriters b...         2
5  Eldon Expressions Wood and Plastic Desk Access...         7
6                                         Newell 322         4
7                     Mitel 5320 IP Phone VoIP phone         6
8  DXL Angle-View Binders with Locking Rings by S...         3

In [90]:
# Select the second row from the previous DataFrame (sales) using position
sales.iloc[1]

Customer Name                                      Brosina Hoffman
City                                                   Los Angeles
Product Name     Eldon Expressions Wood and Plastic Desk Access...
Quantity                                                         7
Name: 5, dtype: object

In [93]:
# Select the second row from the previous DataFrame (sales) using index
sales.loc[5]

Customer Name                                      Brosina Hoffman
City                                                   Los Angeles
Product Name     Eldon Expressions Wood and Plastic Desk Access...
Quantity                                                         7
Name: 5, dtype: object

In [95]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame
df_new = pd.read_excel('../datasets/sample_superstore.xls',sheet_name=1, index_col='Order Date')

# Mostrar las primeras filas del nuevo DataFrame
print(df_new.head())

            Row ID        Order ID  Ship Date       Ship Mode Customer ID  \
Order Date
2016-11-08       1  CA-2016-152156 2016-11-11    Second Class    CG-12520
2016-11-08       2  CA-2016-152156 2016-11-11    Second Class    CG-12520
2016-06-12       3  CA-2016-138688 2016-06-16    Second Class    DV-13045
2015-10-11       4  US-2015-108966 2015-10-18  Standard Class    SO-20335
2015-10-11       5  US-2015-108966 2015-10-18  Standard Class    SO-20335

              Customer Name    Segment        Country             City  \
Order Date
2016-11-08      Claire Gute   Consumer  United States        Henderson
2016-11-08      Claire Gute   Consumer  United States        Henderson
2016-06-12  Darrin Van Huff  Corporate  United States      Los Angeles
2015-10-11   Sean O'Donnell   Consumer  United States  Fort Lauderdale
2015-10-11   Sean O'Donnell   Consumer  United States  Fort Lauderdale

                 State  Postal Code Region       Product ID         Category  \
Order Date
2016-11-08    Kentucky        42420  South  FUR-BO-10001798        Furniture
2016-11-08    Kentucky        42420  South  FUR-CH-10000454        Furniture
2016-06-12  California        90036   West  OFF-LA-10000240  Office Supplies
2015-10-11     Florida        33311  South  FUR-TA-10000577        Furniture
2015-10-11     Florida        33311  South  OFF-ST-10000760  Office Supplies

           Sub-Category                                       Product Name  \
Order Date
2016-11-08    Bookcases                  Bush Somerset Collection Bookcase
2016-11-08       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2016-06-12       Labels  Self-Adhesive Address Labels for Typewriters b...
2015-10-11       Tables      Bretford CR4500 Series Slim Rectangular Table
2015-10-11      Storage                     Eldon Fold 'N Roll Cart System

               Sales  Quantity  Discount    Profit
Order Date
2016-11-08  261.9600         2      0.00   41.9136
2016-11-08  731.9400         3      0.00  219.5820
2016-06-12   14.6200         2      0.00    6.8714
2015-10-11  957.5775         5      0.45 -383.0310
2015-10-11   22.3680         2      0.20    2.5164

In [96]:
# Select the fifth row
df_new.iloc[4]

Row ID                                        5
Order ID                         US-2015-108966
Ship Date                   2015-10-18 00:00:00
Ship Mode                        Standard Class
Customer ID                            SO-20335
Customer Name                    Sean O'Donnell
Segment                                Consumer
Country                           United States
City                            Fort Lauderdale
State                                   Florida
Postal Code                               33311
Region                                    South
Product ID                      OFF-ST-10000760
Category                        Office Supplies
Sub-Category                            Storage
Product Name     Eldon Fold 'N Roll Cart System
Sales                                    22.368
Quantity                                      2
Discount                                    0.2
Profit                                   2.5164
Name: 2015-10-11 00:00:00, dtype: object

In [100]:
# Select rows from the third to the seventh one
df_new.iloc[2:7]

,Row ID,Order ID,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order Date,,,,,,,,,,,,,,,,,,,,
2016-06-12,3,CA-2016-138688,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
2015-10-11,4,US-2015-108966,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
2015-10-11,5,US-2015-108966,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
2014-06-09,6,CA-2014-115812,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
2014-06-09,7,CA-2014-115812,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656

In [102]:
# Select penultimate row
df_new.iloc[-2]

Row ID                                                        9993
Order ID                                            CA-2017-121258
Ship Date                                      2017-03-03 00:00:00
Ship Mode                                           Standard Class
Customer ID                                               DB-13060
Customer Name                                          Dave Brooks
Segment                                                   Consumer
Country                                              United States
City                                                    Costa Mesa
State                                                   California
Postal Code                                                  92627
Region                                                        West
Product ID                                         OFF-PA-10004041
Category                                           Office Supplies
Sub-Category                                                 Paper
Product Name     It's Hot Message Books with Stickers, 2 3/4" x 5"
Sales                                                         29.6
Quantity                                                         4
Discount                                                       0.0
Profit                                                       13.32
Name: 2017-02-26 00:00:00, dtype: object

In [104]:
# Select, given the last 5 rows, all but the last one.
df.iloc[-5:-1]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200

In [ ]:
# Depending on what we need, we can use loc or iloc
# loc <- work with index/labels
# iloc <- work with positions

In [106]:
# Write to XLS all the sales in the State of California

sales_california = df[df['State'] == 'California']
sales_california.to_excel('../datasets/sales_california.xlsx', index=False)

In [ ]:
# Give a name to the sheet ('California') 

sales_california = df[df['State'] == 'California']

sales_california.to_excel('../datasets/sales_california.xlsx', sheet_name='California', index=False)

Archivo XLS con las ventas en California guardado como 'sales_california.xlsx' con la hoja 'California'

In [109]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row


df[(df['Region'].isin(['West', 'South']))][['Product Name', 'Order ID', 'Quantity', 'Discount']].to_excel('../datasets/sales_WS.xlsx', index=False, sheet_name='WS')