# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [192]:
# import pandas library
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [193]:
# Load XLS file (from local filesystem)
df = pd.read_excel('../datasets/sample_superstore.xls')

In [194]:
#URL del archivo en GitHub
url = "https://raw.githubusercontent.com/bigdatawirtz/sistemas-bigdata-2024/refs/heads/main/datasets/sample_superstore.xls"
df = pd.read_excel(url)

In [195]:
# show DataFrame
df

    Returned        Order ID
0        Yes  CA-2017-153822
1        Yes  CA-2017-129707
2        Yes  CA-2014-152345
3        Yes  CA-2015-156440
4        Yes  US-2017-155999
..       ...             ...
291      Yes  CA-2015-101910
292      Yes  CA-2017-156958
293      Yes  CA-2016-105585
294      Yes  CA-2016-148796
295      Yes  CA-2015-149636

[296 rows x 2 columns]

In [196]:
# Show the 3 first rows
df.head(3)

  Returned        Order ID
0      Yes  CA-2017-153822
1      Yes  CA-2017-129707
2      Yes  CA-2014-152345

In [197]:
# Show 5 random rows
df.sample(5)

    Returned        Order ID
154      Yes  CA-2017-136308
242      Yes  CA-2016-113341
220      Yes  CA-2015-113628
70       Yes  US-2017-118087
62       Yes  CA-2016-167759

In [198]:
# From the last 10 rows, show the 5 first ones
df.tail(10).head(5)

    Returned        Order ID
286      Yes  US-2014-164763
287      Yes  CA-2017-122504
288      Yes  CA-2017-150910
289      Yes  CA-2015-162166
290      Yes  US-2016-140172

In [199]:
# Show 3 random rows from the first 50 ones
df.head(50).sample(3)

   Returned        Order ID
8       Yes  CA-2017-135692
24      Yes  CA-2015-168480
48      Yes  CA-2016-114307

In [200]:
# Show info about column data types
df.info

<bound method DataFrame.info of     Returned        Order ID
0        Yes  CA-2017-153822
1        Yes  CA-2017-129707
2        Yes  CA-2014-152345
3        Yes  CA-2015-156440
4        Yes  US-2017-155999
..       ...             ...
291      Yes  CA-2015-101910
292      Yes  CA-2017-156958
293      Yes  CA-2016-105585
294      Yes  CA-2016-148796
295      Yes  CA-2015-149636

[296 rows x 2 columns]>

In [201]:
# Show the next info
#
# zip code type: 
#
# Discount type: 
#
# Country data type: 

df['Postal_Code']
df['Discount']
df['Country']

KeyError: 'Postal_Code'

In [ ]:
# Show column names
df.columns

In [ ]:
# Select and show 5 different random cities
df['City'].sample(5)

In [ ]:
# Show the different countries that appear in the data
df['Country']

In [ ]:
# Show the different categories
df['Category']

In [ ]:
# Select client id, name and city
df[['Customer_ID','Customer_Name','City']]

In [ ]:
# Select Order ID (as Dataframe)
df[['Order_ID']]

In [ ]:
# Count elements in Series "Region"

In [ ]:
# Show elementes from "Region" Series

In [ ]:
# Count different elements in Series "Region"

In [ ]:
# Create a Series with quantities in each order line and show the result

In [ ]:
# Show the lines with quantities greater than 2

In [ ]:
# Show only the DataFrame lines with subcategory  "Tables"

In [ ]:
# Show the cities with orders including "Tables"

In [ ]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.

In [ ]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.

In [ ]:
# Show all the order lines including Phones to 'Los Angeles'

In [ ]:
# Show 10 random order lines with Phones or Tables

In [ ]:
# Select the second row of the dataframe

In [ ]:
# Select the third, seventh and 24 row of the dataset

In [ ]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region

In [ ]:
# Select the second row from the previous DataFrame (sales) using position

In [ ]:
# Select the second row from the previous DataFrame (sales) using index

In [ ]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame

In [ ]:
# Select the fifth row

In [ ]:
# Select rows from the third to the seventh one

In [ ]:
# Selecdt penultimate row

In [ ]:
# Select, given the last 5 rows, all but the last one.

In [ ]:
# Depending on what we need, we can use loc or iloc
# loc <- work with index/labels
# iloc <- work with positions

In [ ]:
# Write to XLS all the sales in the State of California

In [ ]:
# Give a name to the sheet ('California')

In [ ]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row